.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: none;
}

.modalContainer::backdrop {
  backdrop-filter: blur(7px);
  background: #220d5b3b;
}

.modal {
  inset: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 280px;
  height: 293px;
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.1);
}

.modalQuestion {
  display: flex;
  flex-direction: column;
}

.modalQuestionText {
  font-size: 16px;
}

.modalButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalYesBtn,
.modalNoBtn {
  border-radius: 8px;
  width: 200px;
  height: 40px;
}

.modalNoBtn {
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    103deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  transition: all 500ms;
}

.modalNoBtn:hover {
  transform: scale(1.07);
}

.modalYesBtn {
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #623f8b;
  transition: all 500ms;
}

.modalYesBtn:hover {
  transform: scale(1.07);
}

.income {
  font-weight: 600;
  color: #ffb627;
}

.expense {
  font-weight: 600;
  color: #ff868d;
}

.modalXBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 1500ms;
}

.modalXBtn:hover {
  transform: rotate(360deg);
}

.modalBox {
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

@media (min-width: 768px) {
  .modal {
    gap: 30px;
    width: 540px;
    height: 589px;
  }

  .modalQuestionText {
    font-size: 24px;
  }

  .modalButtons {
    gap: 10px;
  }

  .modalYesBtn,
  .modalNoBtn {
    border-radius: 20px;
    width: 300px;
  }
}
