.transactionsItem {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #000;
  background: rgba(82, 59, 126, 0.6);
  margin-bottom: 8px;
  border: none;
  transition: 500ms;
}

.transactionsItemIncome {
  border-left: 5px solid #ffb627;
}

.transactionsItemExpense {
  border-left: 5px solid #ff868d;
}

.transactionsItemSpec {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  font-size: 16px;
}

.transactionsItemDesc {
  font-weight: 600;
}

.transactionsItemValue {
  font-weight: 400;
}

.transactionsItemButtons {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  font-size: 16px;
}

.hovered {
  box-shadow: 0px -10px 5px -7px rgba(255, 199, 39, 0.6) inset;
}

.transactionsItemEditBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 500ms;
}

.transactionsItemEditBtn:hover {
  color: #9e40ba;
}

.income {
  color: #ffb627;
}

.expense {
  color: #ff868d;
}

.transactionsList {
  /* background: #101010; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
}

.transactionLi {
  width: 280px;
  border-radius: 8px;
}

.withoutTransaction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  padding: 20px 10px;
}

.withoutTransactionMain {
  font-weight: 600;
}

.withoutTransactionSecondary {
  font-weight: 400;
}

.transactionListHeader {
  display: none;
}

.transactionsAddBtn {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(
    103deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  font-size: 30px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  transition: all ease 2000ms;
}

.transactionsAddBtn:hover {
  transform: rotate(360deg);
}

@media (min-width: 768px) {
  .transactionListHeader {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr 1fr 1.5fr 0.5fr 0.8fr;
    justify-items: center;
    padding: 16px 20px;
    font-weight: 600;
    border-radius: 8px;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(82, 59, 126, 0.6);
  }

  .transactionsItem {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr 1fr 1.5fr 0.5fr 0.8fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border-radius: 8px;
    margin-bottom: 0;
  }

  .transactionLi {
    width: 100%;
  }

  .transactionLi:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  }

  .transactionsItemSpec {
    border-bottom: none;
    padding: 0;
  }

  .transactionsItemIncome,
  .transactionsItemExpense {
    border-left: none;
  }

  .transactionsItemDesc,
  .transactionsItemEditBtnText {
    display: none;
  }

  .transactionsItemButtons {
    flex-direction: row-reverse;
    gap: 10px;
    padding: 0;
  }

  .transactionsAddBtn {
    right: 40px;
    bottom: 40px;
  }

  .transactionsItemEditBtn:hover {
    transform: scale(1.5);
    color: #9e40ba;
  }
}
