.transactionsItem {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 8px;
  border: none;
  transition: 500ms;
}

.transactionsItemIncome {
  border-left: 5px solid #ffb627;
}

.transactionsItemExpense {
  border-left: 5px solid #ff868d;
}

.transactionsItemSpec {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  font-size: 16px;
}

.transactionsItemDesc {
  font-weight: 600;
}

.transactionsItemValue {
  font-weight: 400;
}

.transactionsItemButtons {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  font-size: 16px;
}

.hovered {
  box-shadow: 0px -10px 5px -7px rgba(255, 199, 39, 0.6) inset;
}

.transactionsItemEditBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 500ms;
}

.transactionsItemEditBtn:hover {
  color: #9e40ba;
}

.income {
  color: #ffb627;
}

.expense {
  color: #ff868d;
}

.transactionsList {
  /* background: #101010; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.transactions {
  padding: 32px 20px 0 20px;
}

.transactionLi {
  width: 280px;
  border-radius: 8px;
}

.withoutTransaction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  padding: 20px 10px;
}

.withoutTransactionMain {
  font-weight: 600;
}

.withoutTransactionSecondary {
  font-weight: 400;
}

.transactionListHeader {
  display: none;
}

.transactionsAddBtn {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(
    103deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  font-size: 30px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  transition: all ease 2000ms;
}

.transactionsAddBtn:hover {
  transform: rotate(360deg);
}

.sorting {
  color: #ff868d;
}

.filterForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.filterFormModule {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  justify-content: start;
}

.input,
.select {
  border-radius: 10px;
  border: 1px, rgba(255, 255, 255, 0.4), solid;
  color: white;
  background: rgb(112, 0, 255, 0.1);
  padding: 8px;
  width: 100%;
  transition: all 500ms;
}

.input::placeholder {
  color: white;
}

.select:focus,
.input:focus {
  background: #7000ff;
  padding: 8px;
  outline: none;
  color: white;
}

.select:hover,
.input:hover {
  background: #7000ff;
}

.filterFormModule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterToggleButton {
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #7b2cbf;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.5s;
}

.filterToggleButton:hover {
  background: #9e40ba;
}

.filterSection {
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}

.paginationButtons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
  flex-grow: 1;
  align-items: right;
}

.prevBtn,
.nextBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(
    103deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  transition: all 500ms;
}

.prevBtn:hover {
  transform: translate(-5px) scale(1.1);
}

.nextBtn:hover {
  transform: translate(5px) scale(1.1);
}

.selectPerPage {
  width: auto;
  height: 40px;
  position: absolute;
  right: 0;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .transactionListHeader {
    display: grid;
    grid-template-columns: 0.7fr 0.4fr 1fr 1.5fr 0.5fr 0.8fr;
    justify-items: center;
    padding: 16px 20px;
    font-weight: 600;
    border-radius: 8px;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(82, 59, 126, 0.6);
  }

  .transactionsItem {
    display: grid;
    grid-template-columns: 0.7fr 0.4fr 1fr 1.5fr 0.5fr 0.8fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border-radius: 8px;
    margin-bottom: 0;
  }

  .transactions {
    margin: 20px 32px 0 32px;
  }

  .transactionLi {
    width: 100%;
  }

  .transactionLi:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.41);
  }

  .transactionsItemSpec {
    border-bottom: none;
    padding: 0;
  }

  .transactionsItemIncome,
  .transactionsItemExpense {
    border-left: none;
  }

  .transactionsItemDesc,
  .transactionsItemEditBtnText {
    display: none;
  }

  .transactionsItemButtons {
    flex-direction: row-reverse;
    gap: 10px;
    padding: 0;
  }

  .transactionsAddBtn {
    right: 40px;
    bottom: 40px;
  }

  .transactionsItemEditBtn:hover {
    transform: scale(1.5);
    color: #9e40ba;
  }

  .filterForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 8px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .transactions {
    margin: 20px 32px 0 32px;
  }
}
