.transactionList {
  background: #101010;
}

.withoutTransaction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

.withoutTransactionMain {
  font-weight: 600;
}

.withoutTransactionSecondary {
  font-weight: 400;
}
