.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
  box-shadow: 0 4px 40px 0 rgba(66, 64, 64, 0.25),
    inset 0 -3px 2px 0 rgba(0, 0, 0, 0.1);
}

.logoContainer {
  width: 86px;
  height: 36px;
  margin: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logoIcon {
  width: 17px;
  height: 17px;
}

.logoText {
  font-weight: 400;
  font-size: 12px;
  color: #fbfbfb;
}

.exitContainer {
  margin: 18px 20px 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.name,
.userImage {
  margin: 0;
  font-family: "Circe", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
  width: 32px;
  height: 32px;
  background-color: #7000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  object-fit: cover;
}

.exitBtn {
  width: 20px;
  height: 20px;
  border: none;
  border-left: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.exitIcon {
  fill: rgba(255, 255, 255, 0.6);
  width: 18px;
  height: 18px;
}

.exitText {
  display: none;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
  border-radius: 0;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(#462066, rgba(255, 255, 255, 0.1));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.logoutContainer {
  display: none;
}

.logoutIcon {
  width: 36px;
  height: 36px;
}

.logoutText {
  font-weight: 400;
  font-size: 26px;
  color: #fbfbfb;
}

.modalText {
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 40px 33px;
}

.btnLogout {
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    97deg,
    #ffc727 16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.btnLogout:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    to right,
    #7000ff 0%,
    #9e40ba 31%,
    #ffc727 100%
  );
  background-size: 200%;
  background-position: right center;
}

.btnCancel {
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border: none;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #623f8b;
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 auto;
}

.btnCancel:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    to right,
    #7000ff 30%,
    #9e40ba 31%,
    white 80%
  );
  background-size: 200%;
  background-position: right center;
}

@media (min-width: 768px) {
  .header {
    position: static;
  }

  .headerContainer {
    height: 80px;
  }

  .logoContainer {
    width: 115px;
    height: 48px;
    margin-left: 32px;
  }

  .logoutContainer {
    width: 182px;
    height: 76px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 52px;
  }

  .logoIcon {
    width: 23px;
    height: 22px;
  }

  .logoText {
    font-size: 17px;
  }

  .exitContainer {
    margin: 25px 32px 25px 0;
  }

  .exitText {
    display: block;
  }

  .exitBtn {
    width: 69px;
    height: 30px;
    border-left: 2px solid rgba(255, 255, 255, 0.6);
  }

  .exitIcon {
    margin: 6px 8px 6px 12px;
  }

  .modal {
    top: 50%;
    left: 50%;
    width: 533px;
    height: 447px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 60px;
    margin-top: 0;
  }

  .overlay {
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    background: rgba(34, 13, 91, 0.23);
  }

  .modalText {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    margin: 52px;
  }

  .logoutIcon {
    display: block;
    width: 36px;
    height: 36px;
  }

  .logoutText {
    display: block;
    font-weight: 400;
    font-size: 26px;
    color: #fbfbfb;
  }

  .btnLogout {
    width: 300px;
  }

  .btnCancel {
    width: 300px;
  }
}

@media (min-width: 1280px) {
  .logoContainer {
    margin-left: 16px;
  }

  .exitContainer {
    margin-right: 16px;
  }
}
