.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25),
    inset 0 -3px 2px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.logoContainer {
  width: 86px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logoIcon {
}

.logoText {
  font-weight: 400;
  font-size: 12px;
  color: #fbfbfb;
}

.exitContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
}

.exitBtn {
  width: 69px;
  height: 30px;
  border: none;
  border-left: 2px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.exitIcon {
  margin: 6px 8px 6px 12px;
}

.exitText {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
