/* .circle {
  display: none;
} */

@media (min-width: 768px) {
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
  }

  .first_bg_png {
    position: absolute;
    top: -100px;
    left: -104px;
    background-image: url("/bg/closeup-golden-usd-coins.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-width: 374px; */
    /* min-height: 720px; */
    width: 700px;
    width: 374px;
    height: 720px;
    z-index: -1;
  }

  .next_bg_png {
    position: absolute;
    top: 350px;
    /* left: 400px; */
    right: 0;
    background-image: url("/bg/closeup-golden-usd-coins2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 526px;
    height: 720px;
    /* height: 100vh; */
  }
  .circle {
    /* display: inline; */
    position: absolute;
    border-radius: 50%;
    filter: blur(90px);
    transition: all 0.8s ease-in-out;
  }

  .accentPurple {
    width: 300px;
    height: 300px;
    left: 50px;
    top: 200px;
    background: linear-gradient(135deg, #6d54eb 5.47%, #652392 90.06%);
  }

  .accentPurple2 {
    width: 300px;
    height: 300px;
    left: 150px;
    top: 100px;
    background: linear-gradient(135deg, #6d54eb 3.47%, #652392 90.06%);
  }

  .blue2 {
    width: 454px;
    height: 454px;
    left: 244px;
    top: 284px;
    transform: translate(-50%, -50%);
    background: #2f15b0;
    opacity: 0.73;
    filter: blur(100px);
  }
}

@media (min-width: 1280px) {
  .first_bg_png {
    position: absolute;
    top: 0;
    left: -10%;
    background-image: url("/bg/closeup-golden-usd-coins.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 374px; */
    width: 600px;
    height: 100vh;
    /* height: 720px; */
  }

  .next_bg_png {
    position: absolute;
    top: 0;
    /* left: 60%; */
    right: -10%;
    background-image: url("/bg/closeup-golden-usd-coins2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 526px;
    height: 100vh;
    /* height: 720px; */
  }
}

@media (min-width: 1480px) {
  .first_bg_png {
    position: fixed;
    top: 0;
    left: 0%;
    background-image: url("/bg/closeup-golden-usd-coins.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 374px; */
    width: 800px;
    height: 110vh;
    /* height: 720px; */
  }

  .next_bg_png {
    position: fixed;
    top: 0;
    /* left: 60%; */
    right: 0;
    background-image: url("/bg/closeup-golden-usd-coins2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 626px;
    height: 110vh;
    /* height: 720px; */
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .first_bg_png {
    background-image: url("/bg/closeup-golden-usd-coins@2x.png");
    background-size: 374px 720px;
  }
  .next_bg_png {
    background-image: url("/bg/closeup-golden-usd-coins2@2x.png");
    background-size: 526px 720px;
  }
}
