/* .circle {
  display: none;
} */

@media (min-width: 768px) {
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
  }

  .first_bg_png {
    position: absolute;
    top: -100px;
    left: -104px;
    background-image: url("/bg/closeup-golden-usd-coins.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 374px;
    height: 720px;
    z-index: -1;
  }

  .next_bg_png {
    position: absolute;
    top: 350px;
    left: 400px;
    background-image: url("/bg/closeup-golden-usd-coins2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 526px;
    height: 720px;
  }
  .circle {
    /* display: inline; */
    position: absolute;
    border-radius: 50%;
    filter: blur(90px);
    transition: all 0.8s ease-in-out;
  }

  .accentPurple {
    width: 300px;
    height: 300px;
    left: 50px;
    top: 200px;
    background: linear-gradient(135deg, #6d54eb 5.47%, #652392 90.06%);
  }

  .accentPurple2 {
    width: 300px;
    height: 300px;
    left: 150px;
    top: 100px;
    background: linear-gradient(135deg, #6d54eb 3.47%, #652392 90.06%);
  }

  .blue2 {
    width: 454px;
    height: 454px;
    left: 244px;
    top: 284px;
    transform: translate(-50%, -50%);
    background: #2f15b0;
    opacity: 0.73;
    filter: blur(100px);
  }
}

@media (min-width: 1280px) {
  .first_bg_png {
    position: absolute;
    top: 0;
    left: -40px;
    background-image: url("/bg/closeup-golden-usd-coins.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 374px;
    height: 720px;
  }

  .next_bg_png {
    position: absolute;
    top: 0;
    left: 60%;
    background-image: url("/bg/closeup-golden-usd-coins2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 526px;
    height: 720px;
  }
}
