.title {
  margin-top: 40px;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #fff;
}

.logo {
  width: 58px;
  height: 68px;
  margin: 0 auto;
}

.errorMessage {
  font-weight: 400;
  margin-top: 8px;
}

.container {
  margin: 0 auto;
  margin-top: 160px;
}

@media (min-width: 768px) {
  .container {
    margin-top: 120px;
    width: 380px;
  }
  .logo {
    width: 106px;
    height: 126px;
  }
  .title {
    margin-top: 24px;
    font-size: 80px;
  }
}
