.currencyWrapper {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: rgba(74, 86, 226, 0.1);
    width: 320px;
    height: 220px;
    margin-top: 20px;
    margin-bottom: 27px;
    background-image: url(../../assets/chartMobile.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}


.currencyTable {
    width: 100%;
    color: white;
    font-size: 16px;
    line-height: normal;
    border-collapse: collapse;
}

.tableHeader {
    background: rgba(255, 255, 255, 0.2);
    font-weight: 600;
}

.tableName {
    padding: 13px 0;
    width: 33%;
}

.tableName:last-child {
    padding-left: 30px;

}

.tableData {
    width: 33%;
    padding-top: 10px;
}

.tableData:last-child {
    padding-left: 30px;
}

/* TABLET */
@media (min-width: 768px) {
    .currencyWrapper {
        width: 336px;
        height: 214px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        top: 80px;
        right: 32px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* DESKTOP */

@media (min-width: 1280px) {

    .currencyWrapper {
        width: 480px;
        height: 380px;
        background-image: url(../../assets/chart.svg);
        position: relative;
        top: auto;
        right: auto;
    }

    .usdChart {
        font-size: 12px;
        color: rgb(255, 134, 141);
        position: absolute;
        left: 50px;
        bottom: 160px;
        text-align: center;
    }

    .eurChart {
        font-size: 12px;
        color: rgb(255, 134, 141);
        position: absolute;
        right: 100px;
        bottom: 195px;
        text-align: center;
    }

    .tableName {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .tableName:first-child {
        padding-left: 52px;
        padding-right: 29px;
    }


    .tableData {
        text-align: center;
        padding-top: 24px;
    }

    .tableData:first-child {
        padding-left: 80px;
        padding-right: 58px;

    }

    .tableData:last-child,
    .tableName:last-child {
        padding-right: 120px;
        padding-left: 20px;
    }

}