.title {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  padding: 8px 0 4px 32px;
  text-align: start;
}

.sum {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fbfbfb;
  font-weight: 700;
  text-align: start;
  padding-left: 32px;
  padding-bottom: 12px;
}

.container {
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
  border-radius: 8px;
  width: 280px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 0 20px 32px;
    width: 336px;
    height: 80px;
  }

  .title {
    padding: 8px 0 4px 40px;
  }

  .sum {
    padding-left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin: 0 0 32px 0;
    width: 480px;
    border-radius: none;
  }
  .title {
    padding: 8px 0 4px 56px;
  }

  .sum {
    padding-left: 56px;
  }
}
