:root {
  font-family: "Poppins", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* === CSS Reset / Normalize Base === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* scroll-behavior: smooth; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

body {
  margin-left: 20px;
  margin-right: 20px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fbfbfb;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fbfbfb;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fbfbfb;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fbfbfb;
}

@media (min-width: 769px) {
  h1 {
    font-size: 30px;
  }

  body {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (min-width: 1280px) {
  body {
    margin-left: 16px;
    margin-right: 16px;
  }
}
